@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/bg.jpg");
  background-repeat: no-repeat;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  color: white;
  overflow-x: hidden;
}
.count-down {
  height: 15rem;
  width: 100vw;
  background-image: url("../public/bg.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-down > div {
  margin: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 9rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  font-size: 1.1rem;
}
.count-down p {
  width: 18vw;
  font-weight: 700;
}
.count-down > div p {
  color: rgba(255, 255, 255, 0.665);
  font-size: 0.7rem;
}
.count-down > div div {
  font-size: 1.3rem;
}
.banner {
  margin: 14.5rem 0 14.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text1 {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.banner-text2 {
  font-size: 4rem;
  font-weight: 700;
  color: hsl(209, 36%, 48%);
}
@media screen and (max-width: 996px) {
}
